<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Result</title>
    </head>

    <body>
        <div>
        Name: <%= name %>, Age: <%= age %>
        </div>
        <a href="/set">set</a>

    </body>
</html>